/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

html {
  background-color: black;
}

h2 {
  color: rgb(155, 155, 155);
}



.dot {
  width: .5rem;
  height: .5rem;
  border: .1rem solid rgb(68, 68, 68);
  border-radius: 50%;
  margin: .1rem;
}

.dot-grid {
  display: grid;
  grid-template-columns: repeat(80, 1fr);
  width: 1200px;
}

.grid-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.green {
  background-color: #34FE4F;
}

.blue {
  background-color: #0FF0FC;
}

.purple {
  background-color: #E200F7;
}

.yellow {
  background-color: #CCFF00;
}

.pink {
  background-color: #FA2FBD;
}

.white {
  background-color: transparent;
}


.big-dot {
  width: 2rem;
  height: 2rem;
  border: .1rem solid rgb(68, 68, 68);
  border-radius: 50%;
  margin: .1rem;
}

#root > div > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

span.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}

span.current-container {
  display: flex;
  /* flex-direction: row-row; */
  align-items: center;
  padding-left: 10rem;
}