html {
  background-color: black;
  margin: 2rem;
}

h2 {
  color: rgb(155, 155, 155);
}


.dot {
  width: .6rem;
  height: .6rem;
  border: .1rem solid rgb(68, 68, 68);
  border-radius: 50%;
  margin: .1rem;
}

.dot-grid {
  display: grid;
  grid-template-columns: repeat(60, 1fr);
  width: 1000px;
}

.grid-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.green {
  background-color: #34FE4F;
}

.blue {
  background-color: #0FF0FC;
}

.purple {
  background-color: #E200F7;
}

.yellow {
  background-color: #CCFF00;
}

.pink {
  background-color: #FA2FBD;
}

.white {
  background-color: transparent;
}


.big-dot {
  width: 2rem;
  height: 2rem;
  border: .1rem solid rgb(68, 68, 68);
  border-radius: 50%;
  margin: .1rem;
}

.options-container {
  margin: auto;
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.options {
  display: flex;
  align-items: center;
}

.current-container {
  display: flex;
  align-items: center;
}

.reset {
   color: rgb(155, 155, 155);
   background-color: transparent;
   border: .2rem solid rgb(155, 155, 155);
   font-size: x-large;
   border-radius: .45rem;
   height: 100%;
   align-self: center;
}